.teamSmallerVersion-heading {
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
    font-family: 'Arsenal', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.teamSmallerVersion-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    text-align: center;
    align-content: center;
    width: 80%;
    margin: 0 auto;
    .teamSmallerVersion-img {
        
        width: 40%;
        height: 50%;
        border-radius: 60%;
        object-fit: cover;
        object-position: 55% 5%;
    }

    // .teamSmallerVersion-name {
    // }
}
.teamSmallerVersion-btn {
    padding: 1rem;
    display: block;
    margin: auto;

    width: 12rem;

    margin-bottom: 1.5rem;
}
